* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*####################################################################*/
body {
  font-family: "Lato", sans-serif;
}

.header-main {
  height: 1080px;
  background-image: url(/img/bg_header.png);
}

.header__img {
  margin-bottom: 159px;
}
.header__logo {
  text-align: center;
  padding-top: 165px;
  color: #ffffff;
}
.header__title {
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}
.header__title::after {
  content: "";
  position: absolute;
  width: 105px;
  bottom: 0;
  height: 2px;
  left: 50%;
  background-color: white;
  margin: 0 0 100px -55px;
}
.header__subtitle {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.16em;
}
.header__more {
  padding-top: 15px;
  display: inline-block;
  margin-top: 278px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.06em;
  border: 1px solid white;
  width: 182px;
  height: 47px;
  color: white;
}
.header__more::after {
  content: url(/img/icons/arrow_down_30.png);
  width: 17px;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: -215px;
  margin-left: -9px;
}

/*####################################################################*/
.about {
  text-align: center;
}
.about__menu {
  min-height: 58px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}
.about__menu .about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 21px 0;
}
.about__menu a {
  font-weight: 400;
  color: #3c3c3c;
  text-transform: uppercase;
}
.about__menu .link-brown {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: #ada074;
}
.about__title {
  padding-top: 130px;
}
.about__subtitle {
  max-width: 688px;
  padding-top: 70px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  text-align: center;
  color: #868585;
  margin: 0 auto;
}
.about__colum {
  padding-top: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title-text {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
  position: relative;
}
.title-text::after {
  content: "";
  position: absolute;
  width: 81px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: black;
  margin: 0 0 0 -48px;
  margin-bottom: -35px;
}

.item-about {
  max-width: 250px;
  margin: 0 auto;
  padding-bottom: 95px;
}
.item-about__icon {
  margin: 0 auto;
  width: 92px;
  height: 92px;
  border-radius: 50px;
  border: 2px solid #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-about__title {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0.16em;
  color: #000000;
  padding-top: 41px;
}
.item-about__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #868585;
  padding-top: 36px;
}

/*####################################################################*/
.portfolio {
  text-align: center;
}
.portfolio__container {
  height: 1671px;
  background: #f3f3f3;
}
.portfolio .portfolio__title {
  padding-top: 107px;
}
.portfolio .portfolio__nav {
  padding-top: 91px;
}
.portfolio .portfolio__blocks {
  padding-top: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 27px;
     -moz-column-gap: 27px;
          column-gap: 27px;
}
.portfolio .portfolio__blocks div {
  margin-bottom: 19px;
}
.portfolio .portfolio__block {
  width: 538px;
  height: 365px;
  background-color: #eaeaea;
  border: 1px solid #000;
}
.portfolio .itmes-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 21px 0;
}
.portfolio .itmes-portfolio__link {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1.2;
  color: #3c3c3c;
}
.portfolio .link-brown {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  color: #ada074;
}
.portfolio .button {
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.2;
  letter-spacing: 0.06em;
  color: #000000;
  border: 2px solid #000;
  width: 182px;
  height: 47px;
  padding: 14px 0;
}

/*####################################################################*/
.partnerts__container {
  height: 390px;
  background: url(/img/bg_header_copy_884.png);
  text-align: center;
}
.partnerts__title {
  font-size: 30.4px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-top: 100px;
}
.partnerts__logos {
  padding-bottom: 105px;
}

.item-partnerts {
  padding-top: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 109px;
}

/*####################################################################*/
.contact {
  height: 825px;
  text-align: center;
}
.contact__title {
  padding-top: 183px;
}

/*##################I don't know how do it##################*/
.form-contacts input {
  background: #f8f7f7;
}
.form-contacts textarea {
  background: #f8f7f7;
}
/*###################################################################*/
.contact__column-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*flex: 0 1 50%;
  justify-content: center;
  text-align: center;
  padding-top: 167px;*/
}
.contact__information {
  text-align: right;
}
/*###################################################################*/
.footer {
  text-align: center;
}
.footer__container {
  height: 274px;
  background-color: #3c3c3c;
}
.footer__logo {
  padding-top: 48px;
}
.footer__rights {
  font-size: 14px;
  line-height: 1.2;
  color: #6c6c6c;
  padding-top: 34px;
}

.items-footer {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.items-footer a {
  font-size: 14px;
  line-height: 1.2;
  color: #a4a4a4;
}