* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Roboto;
  color: #211F54;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1220px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
}

.header:target .menu__body {
  left: 0;
}
.header:target .icon-menu {
  display: none;
}
.header:target .icon-menu-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__row {
  min-height: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .header__row {
    min-height: 100px;
  }
}
@media (max-width: 425px) {
  .header__row {
    min-height: 60px;
  }
}
@media (max-width: 320px) {
  .header__row {
    min-height: 40px;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
@media (max-width: 425px) {
  .header__logo {
    max-height: 25px;
  }
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 40px;
}
@media (max-width: 376px) {
  .header__menu {
    padding-left: 5px;
  }
}
.header__cart {
  font-size: 18px;
  line-height: 30px;
}
@media (max-width: 426px) {
  .header__cart {
    display: none;
  }
}
.header__cart a {
  color: #211F54;
}
.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 54px;
  position: relative;
  z-index: 5;
  display: inline-block;
  padding: 18px 24px;
  background: #0075FF;
  border-radius: 14px;
  margin-left: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.header__button:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #3e98ff;
}
@media (max-width: 426px) {
  .header__button {
    padding: 5px 40px;
  }
}
.header__button a {
  color: white;
}
@media (max-width: 991.98px) {
  .header:target .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #E7F2FF;
  }
}

.headerr_r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item {
  margin-right: 22px;
}
.menu__item:nth-child(4) {
  margin-right: 47px;
}
.menu__link {
  font-size: 18px;
  line-height: 30px;
  color: inherit;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.menu__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}
@media (max-width: 991.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #E7F2FF;
    padding: 100px 15px 30px 15px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu__body .menu__item {
    margin-bottom: 25px;
  }
  .menu__body .menu__item:nth-child(4) {
    margin-right: 22px;
  }
  .menu__body .menu__item:last-child {
    margin-bottom: 0;
  }
  .menu__body .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__body .menu__link {
    font-size: 22px;
  }
}

/*#############*/
.icon-menu-close,
.icon-menu {
  display: none;
}

@media (max-width: 991.98px) {
  .icon-menu-close,
.icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 20px;
  }
  .icon-menu-close::before, .icon-menu-close::after,
.icon-menu::before,
.icon-menu::after {
    content: "";
    background: #000;
    height: 2px;
  }
  .icon-menu-close span,
.icon-menu span {
    background: #000;
    height: 2px;
  }

  .icon-menu-close {
    display: none;
  }

  .icon-menu-close::before, .icon-menu-close::after {
    content: "";
    background: #000;
    height: 2px;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  .icon-menu-close::before {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  .icon-menu-close::after {
    -webkit-transform: rotate(-32deg);
            transform: rotate(-32deg);
  }
}
/*##############MAIN####################*/
@media (min-width: 767px) {
  .cleaning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.cleaning__container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}
.cleaning__body {
  padding-top: 227px;
  padding-right: 60px;
}
@media (min-width: 767px) {
  .cleaning__body {
    width: 40%;
    padding-top: 227px;
    padding-right: 19px;
  }
}
@media (max-width: 767.98px) {
  .cleaning__body {
    padding-top: 60px;
    padding-right: 0px;
  }
}
@media (max-width: 376px) {
  .cleaning__body {
    padding-top: 20px;
  }
}
@media (max-width: 1024px) {
  .cleaning__body {
    padding-top: 150px;
  }
}
@media (max-width: 426px) {
  .cleaning__body {
    padding-top: 55px;
  }
}
.cleaning__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cleaning__title {
  font-weight: 700;
  line-height: 109%;
  font-size: calc(37px + 31 * ((100vw - 320px) / 1120));
}
.cleaning__subtitle {
  line-height: 143%;
  padding-top: 22px;
  font-size: calc(18px + 4 * ((100vw - 320px) / 1120));
}
@media (max-width: 376px) {
  .cleaning__subtitle {
    padding-top: 10px;
  }
}
.cleaning__button {
  padding-right: 28px;
}
.cleaning__phone-img {
  padding-right: 16px;
}
.cleaning__call-us {
  color: #6E7191;
}
.cleaning__phone-number {
  color: #211F54;
}
.cleaning__img .big-img {
  max-width: 100%;
}
@media (min-width: 767px) {
  .cleaning .cleaning__img {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100vw - 40px) * 0.6 + 20px);
            flex: 0 0 calc((100vw - 40px) * 0.6 + 20px);
    padding: 0 0 51% 0;
    -webkit-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
  }
  .cleaning .big-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 1250px) {
  .cleaning .cleaning__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50vw + 121px);
            flex: 0 0 calc(50vw + 121px);
  }
}

.subtitle {
  line-height: 143%;
  font-size: calc(17px + 4 * ((100vw - 320px) / 1120));
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0075FF;
  border-radius: 14px;
  min-height: 72px;
  padding: 5px 38px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #3e98ff;
}

/*###########CONTACTS-BLOCK################*/
.contacts-block {
  padding-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts-block .contacts-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts-block .phone-img {
  padding-right: 10px;
}
.contacts-block .call-us {
  font-size: 16px;
  line-height: 18px;
}
.contacts-block .phone-number {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}
/*##################################HOW WORKS#########################################*/
.how-works__container {
  padding-top: 239px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1220px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 767.98px) {
  .how-works__container {
    padding-top: 90px;
  }
}
@media (max-width: 1024px) {
  .how-works__container {
    padding-top: 150px;
  }
}
@media (max-width: 426px) {
  .how-works__container {
    padding-top: 55px;
  }
}
.how-works__text {
  padding-bottom: 58px;
}
@media (max-width: 476px) {
  .how-works__text {
    padding-bottom: 30px;
  }
}
.how-works__buttons {
  padding-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 1220px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
}

.title {
  padding-bottom: 21px;
  font-weight: 700;
  line-height: 121%;
  color: #211F54;
  font-size: calc(37px + 11 * ((100vw - 320px) / 1120));
}

.subtitle {
  font-size: 21px;
  line-height: 30px;
  color: #6E7191;
}

.functions-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767.98px) {
  .functions-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}
.functions-row__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.functions-row__img {
  padding-bottom: 39px;
}
.functions-row__img img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 769px) {
  .functions-row__img img {
    width: 90%;
  }
}
@media (max-width: 767.98px) {
  .functions-row__img img {
    width: 60%;
  }
}
@media (max-width: 426px) {
  .functions-row__img img {
    width: 50%;
  }
}
@media (max-width: 767.98px) {
  .functions-row__img {
    padding-bottom: 20px;
  }
}
.functions-row__title {
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #211F54;
}
.functions-row__subtitle {
  font-size: 21px;
  line-height: 30px;
  color: #6E7191;
}

/*####################################################*/
.thin-line {
  margin: 240px 0;
  height: 1px;
  background: #DCDDEB;
}
@media (max-width: 767.98px) {
  .thin-line {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media (max-width: 1024px) {
  .thin-line {
    margin: 130px 0;
  }
}
@media (max-width: 426px) {
  .thin-line {
    margin: 60px 0;
  }
}

.button-white {
  margin-left: 28px;
  color: #211F54;
  background: #FFFFFF;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
          box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button-white:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #e0e0e0;
}

/*##########################################################################*/
.our-service__container {
  margin-bottom: 240px;
  margin-top: 240px;
}
@media (max-width: 767.98px) {
  .our-service__container {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media (max-width: 1024px) {
  .our-service__container {
    margin: 130px 0;
  }
}
@media (max-width: 426px) {
  .our-service__container {
    margin: 60px 0;
  }
}
.our-service__video {
  margin-top: 40px;
  padding-bottom: 52%;
  position: relative;
}
.our-service__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.row-icons {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 97px;
}
@media (max-width: 767.98px) {
  .row-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.row-icons__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.row-icons__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.row-icons__title {
  padding-bottom: 8px;
  line-height: 18px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #6E7191;
}
.row-icons__numbers {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #211F54;
}

/*##################################################*/
.professional-service__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: 376px) {
  .professional-service__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.cleaning-row {
  margin-top: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 769px) {
  .cleaning-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    margin-top: 42px;
  }
}
@media (max-width: 767.98px) {
  .cleaning-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.cleaning-row__column {
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
          box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 16px;
  padding: 83px 38px 29px 38px;
}
@media (max-width: 769px) {
  .cleaning-row__column {
    padding: 40px 8px 20px 8px;
  }
}
.cleaning-row__img {
  padding-bottom: 24px;
}
.cleaning-row__img img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 769px) {
  .cleaning-row__img img {
    width: 90%;
  }
}
@media (max-width: 767.98px) {
  .cleaning-row__img img {
    width: 75%;
  }
}
.cleaning-row__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #211F54;
}
@media (max-width: 769px) {
  .cleaning-row__title {
    font-size: 20px;
  }
}
@media (max-width: 769px) {
  .cleaning-row__text {
    font-size: 17px;
  }
}

/*############################################################*/
.covid-19__container {
  margin-top: 240px;
  background: #211F54;
  border-radius: 24px;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .covid-19__container {
    margin-top: 140px;
  }
}
@media (max-width: 767.98px) {
  .covid-19__container {
    margin-top: 70px;
  }
}
.covid-19__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 426px) {
  .covid-19__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.covid-19__img img {
  min-width: 100%;
}
@media (max-width: 769px) {
  .covid-19__img img {
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    padding-bottom: 30px;
  }
}
@media (max-width: 426px) {
  .covid-19__img {
    max-width: 80%;
    display: none;
  }
}
@media (max-width: 376px) {
  display: none;
}
  
.covid-19__content {
  padding: 137px 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}
@media (max-width: 1024px) {
  .covid-19__content {
    padding: 21px 73px;
  }
}
@media (max-width: 769px) {
  .covid-19__content {
    padding: 21px 33px;
  }
}
.covid-19__mini-text {
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.covid-19__title {
  color: #FFFFFF;
}
.covid-19__text {
  color: #FFFFFF;
}
.covid-19__body-text {
  color: #FFFFFF;
}
/*###########################################*/
.clean-all__container {
  margin-top: 200px;
}
@media (max-width: 1024px) {
  .clean-all__container {
    margin-top: 140px;
  }
}
@media (max-width: 769px) {
  .clean-all__container {
    margin-top: 80px;
  }
}
.clean-all__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 769px) {
  .clean-all__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.clean-all__img img {
  min-width: 100%;
}
@media (max-width: 1024px) {
  .clean-all__img img {
    max-width: 120%;
  }
}
@media (max-width: 769px) {
  .clean-all__img {
    max-width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.clean-all__content {
  margin-left: 80px;
  text-align: left;
}
@media (max-width: 426px) {
  .clean-all__content {
    margin-left: 30px;
  }
}
.clean-all__title {
  padding-top: 40px;
}
.clean-all__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 29px;
  gap: 95px;
}
.clean-all__button {
  margin-top: 51px;
}

.button-normal {
  display: inline-block;
  min-height: 72px;
  background: #000;
  background-color: #0075FF;
  border-radius: 14px;
  padding: 25px 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button-normal:hover {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #3e98ff;
}

.small-text {
  font-size: 18px;
  line-height: 167%;
  color: #6E7191;
}

.chek-list {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.chek-list__item {
  position: relative;
}
.chek-list__item::before {
  position: absolute;
  content: url(../img/icons/IMAGEchek-icon.png);
  left: -32px;
  top: -4px;
}

.normal-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #211F54;
}

/*###################################################################*/
.different__container {
  margin-top: 220px;
}
@media (max-width: 767.98px) {
  .different__container {
    margin-top: 50px;
  }
}
@media (max-width: 1024px) {
  .different__container {
    margin-top: 140px;
  }
}
@media (max-width: 769px) {
  .different__container {
    margin-top: 80px;
  }
}
.different__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 426px) {
  .different__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.different__content {
  text-align: left;
}
@media (max-width: 426px) {
  .different__title {
    padding-bottom: 10px;
  }
}
.different__very-smal-text {
  font-size: 12px;
  line-height: 250%;
  color: #6E7191;
}
.different__numbers-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 59px;
  margin-top: 17px;
}
.different__button {
  margin-top: 48px;
}
@media (max-width: 426px) {
  .different__button {
    margin-top: 30px;
  }
}
.different__img img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.number-column__number {
  font-weight: 700;
  font-size: calc(30px + 24 * ((100vw - 320px) / 1120));
  line-height: 122%;
  color: #211F54;
}
.number-column__number span {
  color: #0075FF;
}
.number-column__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #6E7191;
}

/*#################################################*/
.articles__container {
  margin-bottom: 240px;
}
@media (max-width: 1024px) {
  .articles__container {
    margin-bottom: 140px;
  }
}
@media (max-width: 769px) {
  .articles__container {
    margin-bottom: 80px;
  }
}
.articles__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: 426px) {
  .articles__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.articles__text {
  text-align: left;
  max-width: 474px;
}
.articles__buttons {
  padding-bottom: 50px;
  padding-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.articles__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}
@media (max-width: 426px) {
  .articles__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.articles__block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.articles__img {
  z-index: 0;
}
.articles__img img {
  max-width: 100%;
}
.articles__card {
  background: #fff;
  margin-top: -60px;
  z-index: 9999;
  text-align: left;
  max-width: 536px;
  padding: 51px 49px;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
          box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 24px;
}
@media (max-width: 769px) {
  .articles__card {
    margin-top: -20px;
  }
}
@media (max-width: 426px) {
  .articles__card {
    padding: 28px 26px;
  }
}

.card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 142%;
  color: #211F54;
}
.card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card__date {
  padding-top: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #211F54;
}
.card__blued-box {
  height: 50px;
  width: 50px;
  background: #0075FF;
}

/*#################################################*/
.request-cleaning {
  background: #F7F9FC;
}
.request-cleaning__container {
  padding: 240px 0;
}
@media (max-width: 1024px) {
  .request-cleaning__container {
    padding: 140px 0;
  }
}
@media (max-width: 426px) {
  .request-cleaning__container {
    padding: 60px 0;
  }
}
.request-cleaning__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .request-cleaning__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 426px) {
  .request-cleaning__row {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.request-cleaning__text {
  margin-right: 60px;
  text-align: left;
}
.request-cleaning__line {
  background: #DCDDEB;
  height: 1px;
  margin: 57px 0;
}
.request-cleaning__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.request-cleaning__small-text {
  padding-bottom: 9px;
}
.request-cleaning__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
@media (max-width: 1024px) {
  .request-cleaning__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 426px) {
  .request-cleaning__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
}
.request-cleaning__form {
  background: #fff;
  padding: 61px 85px;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
          box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 16px;
}
@media (max-width: 426px) {
  .request-cleaning__form {
    padding: 61px 35px;
  }
}

.little-big-text {
  font-weight: 700;
  font-size: 28px;
  line-height: 129%;
  color: #211F54;
}

.form__left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
@media (max-width: 376px) {
  .form__left-column {
    gap: 16px;
  }
}
.form__text {
  text-align: left;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 167%;
  color: #211F54;
}
.form__input {
  padding-left: 20px;
  font-size: 20px;
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
          box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
  border-radius: 16px;
  width: 259px;
  height: 72px;
}
@media (max-width: 426px) {
  .form__input {
    width: 152px;
    height: 64px;
  }
}
@media (max-width: 376px) {
  .form__input {
    width: 129px;
    height: 64px;
  }
}
.form__right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.form__textarea {
  border: 1px solid #EFF0F6;
  -webkit-box-shadow: 0px 2px 7px rgba(20, 20, 43, 0.08);
          box-shadow: 0px 2px 7px rgba(20, 20, 43, 0.08);
  border-radius: 22px;
  height: 144px;
  width: 100%;
}
.form__button {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
  margin-bottom: 32px;
}

/*FOOTER##################################################*/
.footer .thin-line {
  margin: 0 0;
}
.footer__container {
  margin-top: 163px;
}
@media (max-width: 1024px) {
  .footer__container {
    margin-top: 100px;
  }
}
@media (max-width: 426px) {
  .footer__container {
    margin-top: 60px;
  }
}
.footer__top {
  margin-bottom: 114px;
}
@media (max-width: 1024px) {
  .footer__top {
    margin-bottom: 80px;
  }
}
@media (max-width: 426px) {
  .footer__top {
    margin-bottom: 40px;
  }
}
.footer__row {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__column:first-child {
  margin-right: 64px;
  max-width: 304px;
}
.footer__column:nth-child(2) {
  margin-right: 63px;
  max-width: 259px;
}
.footer__column:nth-child(3) {
  margin-right: 52px;
}
.footer__column:last-child {
  max-width: 294px;
}
.footer__row-squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding-top: 34px;
}
.footer__square {
  background: #EDF5FF;
  border-radius: 8px;
  height: 36px;
  width: 36px;
}
.footer__mini-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  color: #211F54;
  padding-bottom: 29px;
}
.footer__small-adress {
  margin-bottom: 15px;
}
.footer__small-number {
  margin-bottom: 18px;
}
.footer__small-first-time {
  padding-bottom: 18px;
}
.footer__normal-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  color: #211F54;
  padding-bottom: 8px;
}
.footer__phone-number {
  font-weight: 700;
  font-size: 28px;
  line-height: 129%;
  color: #0075FF;
  padding-bottom: 6px;
}
.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 30px;
}
.footer__hreff a {
  font-size: 18px;
  line-height: 167%;
  color: #0075FF;
}
.footer__hreff a:hover {
  text-decoration: underline;
}

.div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 18px;
}

.div-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.div-l .button-white {
  margin-left: 0px;
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .div-l {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 15px;
  }
}
